<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html>


{% extends "polls/base.html" %}
{% block title %}Modification d'un profil{%endblock %}
{% block bodyId %}modifyProfilePage{% endblock %}

{% block content %}
<h1>Modification de votre profil</h1>
<form action="modifyProfile" method="GET">
	{{ form.as_p}}
	<p><div bouton>
		<input type="submit" value="Modifier" id="showProfileNavigationButtons"/>
		<a href="../" class="buttonLink">Retour</a>
	</div>
	</p>
</form>

<link rel="stylesheet" type="text/css" href="/static/css/style.css"/>
{% endblock %}

{% block headerContent %}
<br>
<br>

<p id="profileLinks">
	<a href="../showProfile?userToShow={{ logged_user.id }}" class="buttonLink">Voir mon profil</a>
</p>

{% endblock %}