{% load staticfiles %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{% static 'img/logoaaa.png' %}">


    <title>Reply</title>

    <!-- Bootstrap core CSS -->
    <link href="../../static/css/bootstrap.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="../../static/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../../static/css/jumbotron.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="../../static/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

<body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header bottom">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button><h6>
          <a class="navbar-brand" href="../../"><img src="{% static 'img/logoaaa.png' %}" width=" 80px" class="img-responsive" /></a>
          <a class="navbar-brand" href="../showProfile/">Mon profil</a>
          <a class="navbar-brand" href="../modifyProfile/">Modifier mon profil</a> </h6>
        </div>
        
        <div id="navbar" class="navbar-collapse collapse">
          <form class="navbar-form navbar-right">
          <a class="navbar-brand" href="../email/">Nous contactez</a>
          <a class="navbar-brand" href="../login/">Retour à l'authentification</a>  
          </form>
          </div>
        </div><!--/.navbar-collapse -->
      </div>
    </nav>

 <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">

      <center><div class="container">
        <h1>Webtrial site !</h1>


      </div>
    </div>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

 <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-sm-5">
<div class="panel panel-primary">
  <div class="panel-heading">
   <h3 class="panel-title">Formulaire pour les replys :</h3>
  </div>


<div class="panel-body"> 
        <small>Add a question <a href="../addQuestion/" class="fa fa-plus fa-2x" ></a>
        </br>Add a page<a href="../addPage/"  class="fa fa-plus fa-2x" ></small></a>

			<form action="" method="GET" >{% csrf_token %}
				{{ form.as_p }}
				<p>
					<center><input type="submit" class="btn btn-success" value="Save" id="showProfileNavigationButtons" /></center>
				</p>
			</form>
 		</div>
    </div>
</div></div>
<div class="panel panel-primary">
  <div class="panel-heading">
   <h3 class="panel-title">Pour chaque réponses on affiche l'utilisateur, la question, la réponse :</h3>
  </div>

<div class="panel-body">        
{% for reply in replies %}<br>
    <br> {{ reply.user }}
    {{ reply.question }} -
    {{ reply.answer }}
    dans la :{% for page in reply.question.page.all %} {{ page }} / {% endfor %}
    {% endfor %}


<!-- {% for page in pages %}<br>
    <h3><strong>{{ page }}: </strong></h3>

    <br>{% for reply in  page.reply_set.all %}<br> {{ reply.question }} --> <!-- {{ reply.answer }} (Author : {{ reply.user }}) <hr>{% endfor %} -->

<!-- {% endfor %} -->
</div>
</div>

      <footer>
      <br><br><br><br><br>
        <p>&copy; 2016 Legendre, Inc.</p>
      </footer>
    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="../../static/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../static/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
