<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html>


{% extends "polls/base.html" %}
{% block title %}Affichage d'un profil{%endblock %}
{% block bodyId %}showProfilePage{% endblock %}

{% block content %}
<h1>Affichage du profil de {{ user_to_show.nom }} {{ user_to_show.prenom }}   </h1>
<ul>
<dl class="fieldList">
	<dt>Nom :</dt>
		<dd>{{ user_to_show.nom }}</dd>
	<dt>Prénom :</dt>
		<dd>{{ user_to_show.prenom }}</dd>
	<dt>Date de naissance :</dt>
		<dd>{{ user_to_show.date_de_naissance }}
	<dt>Matricule :</dt>
		<dd>{{ user_to_show.matricule }}</dd>
	<dt>Courriel :</dt>
		<dd>{{ user_to_show.courriel }}</dd>
	<dt>Tél. fixe :</dt>
		<dd>{{ user_to_show.tel_fixe }}</dd>
	<dt>Tél. mobile :</dt>
		<dd>{{ user_to_show.tel_mobile }}</dd>
	<dt>Faculté :</dt>
		<dd>{{ user_to_show.faculte.nom }}</dd>
{% if user_to_show.type_de_personne == "student" %}
	<dt>Cursus :</dt>
		<dd>{{ user_to_show.Cursus.intitule }}</dd>
	<dt>Année :</dt>
		<dd>{{ user_to_show.annee }}</dd>
{% elif user_to_show.type_de_personne == "employee" %}
	<dt>Bureau :</dt>
		<dd>{{ user_to_show.bureau }}</dd>
	<dt>Campus :</dt>
		<dd>{{ user_to_show.campus.nom }}</dd>
	<dt>Fonction :</dt>
		<dd>{{ user_to_show.fonction.intitule }}</dd>
{% endif %}
</dl>
</ul>
<p id="showProfileNavigationButtons">
	<a href="../" class="buttonLink">Retour</a>
</p>
<link rel="stylesheet" type="text/css" href="/static/css/style.css"/>
{% endblock %}

{% block headerContent %}
<br>
<br>

<p id="profileLinks">
	<a href="../modifyProfile" class="buttonLink">Modifier mon profil</a>
</p>

{% endblock %}